body, html{
    margin:0;
    height: 100%;
    overflow: hidden;
}


body {
    background-image: url(./images/hosein-zanbori-wvbOWcIDuYg-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display:flex;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20rem;
    border: 2px solid red;
    vertical-align: center;
    width: 90%;
    flex-direction: column;
    background-color: RGBA(81,100,90,0.85);
    border-radius: 20rem;;
    min-width: 20rem;
}

h1,h2, p {
    color: white;
}

h1 {
    font-size: 1.5em;
    padding-bottom: 2rem;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 2px;
    
}

button {
    margin: 1rem;
    border-radius: 1rem;
    background-color: beige;
    height: 2rem;
    font-family: 'Grape Nuts', cursive;
    width: 20rem;
    font-weight: bold;

}

p{
    font-family: 'Grape Nuts', cursive;
    font-size: 2rem;
}